@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400&display=swap");

:root {
  font-family: Avenir, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-color: black;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}

main {
  min-width: 320px;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Aref Ruqaa Ink", Inter, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
  position: relative;
  text-shadow: 1px 3px 0px black;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  h1 {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

.logo {
  height: 28rem;
  transform: rotate(-90deg);
  user-select: none;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .logo {
    position: static;
  }
}

p {
  position: relative;
  padding: 1rem;
  text-shadow: 1px 3px 0px black;
}
